# Servidor, para .env.test usar otro puerto por seguridad
PORT=4000 # 4000, 4001

# MongoDB
MONGODB_URI=mongodb://localhost:27017/7mo_des_modulo3

# JWT
JWT_SECRET=tu_secreto_aqui
JWT_EXPIRES_IN=24h

# Entorno
NODE_ENV=development # development, test, production